
  .head-text {
    display: flex;
    width: 100%;
    height: 80%;
    transition: 0.3s ease;
    margin-left: 20px;
    opacity: 1;
 }
 
  .text-on-image{
    text-align: center;
    width:21.17%;
    position: absolute;
   top:28.7%;
   display: block;
   
   color: white;
   background: linear-gradient( #5624D0,#DBCCFF);

 }
 .text-on-image1{
    text-align: center;
    width:21.17%;
    position: absolute;
   top:13.7%;
   display: block;
   opacity: 0;
   color: white;


 }
 .head-text:hover{
   opacity: 0.4;

 }
 .head-text:hover .text-on-image{
    opacity: 0;
 }
 .Container{
    display: flex;
    justify-content: center;
 }
 .head-text:hover .text-on-image1{
    opacity: 1;
    background-color:white;
 }