.newsContainer {
    width: 80%;
    height: 50vh;
    display: flex;
    margin: 2em auto;
}

@media (max-width:780px) {
    .newsContainer {
        width: 95%;
    }
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 15px;
    box-shadow: rgba(220, 224, 220, 0.99) 1px 15px 40px;
    background: linear-gradient(225.69deg, rgba(86, 36, 208, 0.13) -2.08%, rgba(219, 204, 255, 0.13) 74.7%), linear-gradient(138.48deg, rgba(86, 36, 208, 0.07) 12.76%, rgba(219, 204, 255, 0.07) 76.52%);
    mix-blend-mode: normal;
    border-radius: 4px 0px 0px 0px;

}

p {
    padding-left: 5px;
    margin-left: 20px;
}

.box-right {

    width: 40%;
    box-shadow: rgba(79, 81, 79, 0.35) 1px 15px 40px;
    background: linear-gradient(225.69deg, rgba(255, 197, 48, 0.0455) -2.08%, rgba(255, 184, 0, 0.05) 74.7%), linear-gradient(138.48deg, rgba(255, 197, 48, 0.0455) 12.76%, rgba(255, 184, 0, 0.05) 76.52%);
    mix-blend-mode: normal;
    border-radius: 0px 4px 0px 0px;
}

.box-right h2 {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* padding: 4px 14px; */
    padding-left: 10px;
    margin-top: 0px;

    text-align: center;

    width: 445px;
    height: 44px;
    left: 53%;
    top: 2%;

    background: linear-gradient(0deg, rgba(255, 197, 48, 0.05), rgba(255, 197, 48, 0.05)), rgba(255, 197, 48, 0.05);
    border-radius: 0px 4px 0px 0px;

}

.box-right h2:hover {
    color: gold;
}

h1 {
    text-align: center;

}

a {
    text-decoration: none;
}

.box-left-button {
    padding: 6px 14px;
    background: #FFFFFF;
    border: 2px solid #5624D0;
    border-radius: 6px;
    width: 95px;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5624D0;

}

.box-left-button:hover {
    background-color: #5624D0;
    color: #FFFFFF;
}

.directorContainer {
    /* position: absolute; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(225.69deg, rgba(86, 36, 208, 0.13) -2.08%, rgba(219, 204, 255, 0.13) 74.7%), linear-gradient(138.48deg, rgba(86, 36, 208, 0.07) 12.76%, rgba(219, 204, 255, 0.07) 76.52%);
    mix-blend-mode: normal;
    border-radius: 4px;
}

.directorImage {
    width: 40%;
}

.directorImage img {
    width: 100%;
    left: 19px;
    margin-top: 20px;
}

.dir_msg {
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height: 1.5;
    padding: 15px;
    justify-content: space-around;
}

.dir_name {
    position: relative;
    right: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #000000;

}