@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
}

.home_btn {
    color: white;
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4em;
    gap: 10px;
    background: #FFFFFF;
}

.upper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    size: 60px;
    line-height: 30.59px;
    letter-spacing: 4%;
    color: #000000;

}

.left {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-evenly;
    height: 53px;
    left: 70.5px;
    top: 12px;
    padding: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #000000;
}

.left>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.left>img {
    width: 53px;
    padding-right: 10px;
}

.lower {
    font-weight: 400;
    font-size: 20px;
    line-height: 21.28px;
    letter-spacing: 18%;
    color: #6D6D6D;
}

.right {
    /* position: absolute; */
    width: 205px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6D6D6D;
}

.right>div {
    display: flex;
    flex-direction: column;
}

.right>div>p {
    width: 170px;
    font-family: 'Poppins', sans-serif;
}

.rectangle {
    border: 3px solid rgba(128, 128, 128, 0.351);
    background-color: rgba(128, 128, 128, 0.751);
    height: 160%;
}

.right>* {
    margin: 6px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 77px;
    gap: 10px;
    height: 30px;
    background: linear-gradient(90deg, #5624D0 0%, #DBCCFF 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

}

.navmenu-option>button {
    background: none;
    color: white;
    border: none;
    /* width: 52px; */
    height: 26px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    /* identical to box height */
    cursor: pointer;
    margin: 0 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.drop {
    display: flex;
    margin-right: 5px;
}

.dropbtn>img {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    left: 4px;
    width: 10px;
    height: 10px;
}

.navmenu-option>button:hover+.drop>img {
    /* color: black; */
    filter: invert(1);
}

.navmenu-option>button:hover {
    color: #FFC530;
}

.login {
    background-color: black;
    border-radius: 4.5px;
    margin: 9px 5px;
}

.login-btn {
    padding: 5px 1px;
    background: #30006D;
    padding: 15px 5px;
}

.login:hover {
    background-color: #FFFFFF;
}

.dropbtn {
    /* background-color: #04AA6D; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 0px 0px 6.5px 6.5px;
    border-top: solid 2px #FFC530;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    size: 14px;
    line-height: 21px;
    border: -2px solid radial-gradient(50% 1238.4% at 50% 0%, #5624D0 0%, rgba(86, 36, 208, 0) 100%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #4e4c4c16;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}